{{#if this.isLink}}
  <LinkTo
    @route={{this.args.route}}
    class="btn {{this.args.btnClass}}"
    {{on "click" this.onClick}}
  >
    <span class="btn-span">
      {{yield}}
    </span>
  </LinkTo>
{{else}}
  <button
    type="button"
    class="btn {{this.args.btnClass}}"
    {{on "click" this.onClick}}
  >
    <span class="btn-span">
      {{yield}}
    </span>
  </button>
{{/if}}